%h1 Listing acks

%table
  %tr
    %th Sent by
    %th Body
    %th
    %th
    %th

  - @acks.each do |ack|
    %tr
      %td= ack.sent_by
      %td= ack.body
      %td= link_to 'Show', ack
      %td= link_to 'Edit', edit_ack_path(ack)
      %td= link_to 'Destroy', ack, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Ack', new_ack_path
