.container
  .titlebar
    .maintitle= @hub.label + "'s acks"
  .underbar
    %span.littletext
      = link_to 'back', hub_path(@hub)
      = " - "
    %span.littletext= link_to 'sign out', destroy_user_session_path, :method => :delete
    .littletext(style='float:right') #{current_user.email}
  .content
    -unless @acks.empty?
      .first-level
        -@acks.each do |ack|
          = ack.author
          %br
          .second-level
            =ack.body
  .footerbar
    .footertext
      .littletext
        Copyright &copy; 2011 - Zachary Schroeder
