.container
  .titlebar
    %span.main_title listing hubs
    %span.little_text
      = link_to 'new hub', new_hub_path
  .content
    %table
      - @hubs.each do |hub|
        %tr
          %td.secondary_title
            = hub.label
            %span ------------------>
          %td= link_to 'show', hub
          %td= link_to 'edit', edit_hub_path(hub)
          %td= link_to 'destroy', hub, :confirm => 'Are you sure?', :method => :delete
  .footerbar
    .footer-text
      .littletext
        Copyright &copy; 2011 - Zachary Schroeder
