%html{:lang => "en"}
  %head
    - stylesheet_link_tag "hub"
    %title rltd | #{@hub.label}
  %body
    %p#notice= notice

    %p.main_title
      = @hub.label
    -unless @hub.lbits.empty?
      .findent
        %b lbits:
        -@hub.lbits.each do |lbit|
          %p
            %a(href="#{lbit.url}") #{lbit.title}
            %span #{lbit.votes_point} ▲ ▼
        .bit_adder
          %b New lbit
          = form_for [@hub, Lbit.new] do |f|
            = f.label :title
            = f.text_field :title
            = f.label :description
            = f.text_field :description
            = f.label :url
            = f.text_field :url
            = f.submit
    -unless @hub.tbits.empty?
      .findent
        %b tbits:
        -@hub.tbits.each do |tbit|
          %p
            =tbit.title
          %p
            =tbit.body
            %span #{tbit.votes_point} ▲ ▼
          %p
        .bit_adder
          %b New tbit
          = form_for [@hub, Tbit.new] do |f|
            = f.label :title
            = f.text_field :title, :rows => 10
            = f.label :body
            = f.text_field :body
            = f.submit
    -unless @hub.qbits.empty?
      .findent
        %b qbits:
        -@hub.qbits.each do |qbit|
          %p
            %em #{qbit.quotee}
            %span said
            %em #{qbit.quote}
            %span #{qbit.votes_point} ▲ ▼
        .bit_adder
          %b New qbit
          = form_for [@hub, Qbit.new] do |f|
            = f.label :quotee
            = f.text_field :quotee
            = f.label :quote
            = f.text_field :quote
            = f.submit
    -unless @hub.hubs.empty?
      .findent
        %b hubs:
        -@hub.hubs.each do |hub|
          %p
            +
            %a(href="/hubs/#{hub.label}") #{hub.label}
    -unless @hub.ibits.empty?
      .findent
        %b ibits:
        %br
        -@hub.ibits.each do |ibit|
          = puts ibit
      .bit_adder
        %b New ibit
        = form_for [@hub, Ibit.new] do |f|
          = f.label :title
          = f.text_field :title
          = f.label :description
          = f.text_field :description
          = f.label :image
          = f.file_field :image
          = f.submit

    = link_to 'Edit', edit_hub_path(@hub)
    = link_to 'Back', hubs_path
