%h1 Listing edges

%table
  %tr
    %th Label
    %th Weight
    %th
    %th
    %th

  - @edges.each do |edge|
    %tr
      %td= edge.label
      %td= edge.weight
      %td= link_to 'Show', edge
      %td= link_to 'Edit', edit_edge_path(edge)
      %td= link_to 'Destroy', edge, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Edge', new_edge_path
