%html{:lang => "en"}
  %head
    %title rltd | #{@edge.label}
  %body
    %p#notice= notice

    %h1= @edge.label

    %p
      = image_tag @edge.image.url(:thumb)

    %p
      = link_to 'Edit', edit_edge_path(@edge)
      = link_to 'Back', edges_path
