%html{:lang => "en"}
  %head
    %title rltd | #{@edge.label}
  %body
    %p#notice= notice

    %h1= @edge.label
    %p
      %b Weight:
      = @edge.weight

    -unless @edge.lbits.empty?
      %b lbits:
      -@edge.lbits.each do |lbit|
        %p
          =lbit.title
          %span ->
          %a(href="#{lbit.url}") #{lbit.url}

    -unless @edge.ibits.empty?
      %b ibits:
      %br
      -@edge.ibits.each do |ibit|
        = link_to image_tag(ibit.image.thumb.url), "/ibits/#{ibit.id}"
    %p
      = link_to 'Edit', edit_edge_path(@edge)
      = link_to 'Back', edges_path
