.container
  .titlebar
    .maintitle= @hub.label + "'s qbits"
  .underbar
    %span.littletext
      = link_to 'back', hub_path(@hub)
      = " - "
    %span.littletext= link_to 'sign out', destroy_user_session_path, :method => :delete
    .littletext(style='float:right') #{current_user.email}
  .content
    -@qbits.each do |qbit|
      .quoter.item
        %em #{qbit.quotee}
        %span.littletext said
        %em #{qbit.quote}
        %span.votetext
          %span#qbit_points #{qbit.votes_point}
          = link_to '▲', vote_hub_qbit_path(@hub,qbit), :class => 'qbitup'
          = link_to '▼', vote_hub_qbit_path(@hub,qbit), :class => 'qbitdown'
  .footerbar
    .footertext
      .littletext
        Copyright &copy; 2011 - Zachary Schroeder
