%h1 Listing tbits

%table
  %tr
    %th Title
    %th Body
    %th
    %th
    %th

  - @tbits.each do |tbit|
    %tr
      %td= tbit.title
      %td= tbit.body
      %td= link_to 'Show', tbit
      %td= link_to 'Edit', edit_tbit_path(tbit)
      %td= link_to 'Destroy', tbit, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Tbit', new_tbit_path
