.container
  .titlebar
    %span.maintitle images in #{@hub.label}
  .underbar
    %span.littletext
      = link_to 'back', hub_path(@hub)
      = " - "
    %span.littletext
      = link_to 'sign out', destroy_user_session_path, :method => :delete
    .littletext(style='float:right') #{current_user.email}
  .content
    - @ibits.each do |ibit|
      = link_to image_tag(ibit.image.thumb.url), hub_ibit_path(@hub, ibit)

  .footerbar
