.container
  .titlebar
    %span.maintitle images in #{@hub.label}
  .underbar
    %span.littletext
      = link_to 'back', hub_path(@hub)
      = " - "
    %span.littletext
      = link_to 'sign out', destroy_user_session_path, :method => :delete
    .littletext(style='float:right') #{current_user.email}
  .content
    - @ibits.each do |ibit|
      .image.item
        %a{:href => hub_ibit_path(@hub, ibit)}
          %img#thumb{:src => "#{ibit.image.url(:tiny)}"}
        %span.votetext
          %span#ibit_points #{ibit.votes_point}
          = link_to '▲', vote_hub_ibit_path(@hub,ibit), :class => 'ibitup'
          = link_to '▼', vote_hub_ibit_path(@hub,ibit), :class => 'ibitdown'
  .footerbar
